# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/main
/sdk.test

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

.vscode/
.idea/
docs/client-python-1.9.11
*.tar.gz

# Example binaries
examples/chat/chat
examples/tools/tools
examples/embeddings/embeddings
examples/fim/fim
examples/agents/agents
examples/moderation/moderation
examples/models/models
examples/main*.exe

# Compiled binaries
examples/*/chat
examples/*/tools
examples/*/embeddings
examples/*/fim
examples/*/agents
examples/*/moderation
examples/*/models
examples/main
